<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyLib.My" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MyLib.My>
            <setting name="Setting01" serializeAs="String">
                <value>01</value>
            </setting>
            <setting name="Setting02NewNewNew" serializeAs="String">
                <value>02</value>
            </setting>
            <setting name="MySetting03New" serializeAs="String">
                <value>03</value>
            </setting>
        </MyLib.My>
    </userSettings>
</configuration>